@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #024059;
}

#Page {
    max-width: 1200px;
    margin: 0 auto;
}

#header {
    background-color: #F28705;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#info {
    display: flex;
    justify-content: center;
}

.lista-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lista-horizontal li {
    display: inline;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.Logo img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: 300px;
}

.Novedades {
    display: flex;
    justify-content: space-between; /* Ajuste el espacio entre las noticias */
    flex-wrap: wrap; /* Permita que las noticias se envuelvan en filas */
}

.fila {
    width: calc(50% - 20px); /* Ancho del 50% del contenedor */
    margin-bottom: 20px;
    background-color: #05F2F2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 3px;
    margin: 3px;
}

.Noticias {
    list-style-type: none;
    padding: 3px;
    margin: 3px;
   
}

.Noticias li {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Noticias li img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.Noticias li p {
    padding: 10px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.Videos-Titulo{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #0e0833;
    padding: 7px;
    border-radius: 8px;
}

.videos-seccion {
    display: flex;
    margin-top: 20px;
    background-color: #1f1175;
    color: #fff;
    padding: 20px;
}

.video-principal {
    width: 70%;
    padding-right: 20px;
    height: 500px;
    border-radius: 10px, 10px, 10px, 10px;
    overflow: hidden;
    margin-top: 140px;
}

.videos-secundarios {
    width: 50%;
    height: 100px;
    padding-left: 10px;
    height: 500px;
}

.lista-videos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista-videos li {
    margin-bottom: 10px;
}
