*{
    margin: 0;
    padding: 0;
}

#Page{
    background-color: rgb(255, 255, 255); /* color solo para visualizar los box*/
}




#info{
    display: flex;
    justify-content: flex-end;
}

.lista-horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.lista-horizontal li{
    display: inline-block;
    margin-right: 10px; /*espacio entre elementos */
}

.Novedades{
    background-color: rgb(255, 255, 255);
    color: #ffffff;
}

.Logo{
    width: 50%;
    height: 50vh;
    overflow: hidden;
    align-self: center;
}

.Logo img{
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 40vh;
    max-height: 40vh;

}
